.productCard_desc{
    display: flex;
    justify-content: space-between;
    margin: 20px 0 40px 0;
}

.productCard_wrapper > img{
    width: 100%;
}

.productCard_wrapper > img:hover{
    transform: scale(1);
}