.product_wrapper{
    background-color: black;
}

.product_wrapper > h1{
    color: white;
    font-weight: 100;
    font-size: 54px;
    margin-bottom: 60px;
}

h1{
    color: white;
    font-weight: 100
}

.productCards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@media(max-width: 768px){
    .product_wrapper.product_wrapper{
        padding: 0;
        width: 85%;
        margin: 0 auto;
    }
}