.benefits_wrapper{
    background-color: black;
}

.benefits_wrapper > img{
    width: 100%;
}

.benefits_wrapper > h1{
    color: white;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 44px;
}

@media(max-width: 768px){
    .benefits_wrapper.benefits_wrapper{
        padding: 0;
        margin: 0 auto;
        width: 85%;
    }
    .benefits_wrapper > h1{
        font-size: 30px;
    }
}