.benefitCard_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 40px;
}


h1{
    color: white;
}

h2{
    color: white;
}

.benefitCard_left{
    width: 47%;
    font-weight: 500;
    font-size: 34px;
}

.benefitCard_left > h2{
    color: white;
    font-weight: 200;
    font-size: 30px;
    margin-top: 28px;
}

.benefitCard_right{
    width: 47%;
    font-weight: 100;
    font-size: 10px;
}

@media(max-width: 960px){
    .benefitCard_wrapper{
        flex-direction: column;
        grid-gap: 30px;
    }
    .benefitCard_left{
        width: 80%;
    }
    .benefitCard_right{
        width: 80%;
    }
}

